/* styles/App.css */
.cards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;

}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(223, 204, 235); 
    border-radius: 10px;
  }
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 0px;
    max-width: 300px;
    text-align: center;
    color: white;
  }

  .card img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .card h3 {
    font-size: 1.2em;
    margin: 16px 0 8px;
  }
  
  .card p {
    color: white;
    font-size: 0.9em;
  }
  h1{
    text-align: center;
    color: white;
  }
  .Top-Bar{
    padding: 20px;
    width: 100%;
  }
  .Feedback-Section{
    height: 600px;
    width: 700px;
    background-color: #fefbffbb;
    border-radius: 30px;
    border: none;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  .Feed-main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
h2{
  color: white;
}